.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Keep the same background with opacity for a glassmorphic effect */
    backdrop-filter: blur(10px); /* Apply the glassmorphic effect */
    padding: 80px 0; /* Keep the same padding or adjust as needed */
    z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
  }
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    color: #2c3948;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffc857;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #2c3948;
}

.footer-col ul li a:hover {
    color: #ffc857;
    padding-left: 7px;
}

.footer-col .social-links a {
    color: #2c3948;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffc857;
    background-color: #FFF;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}