.main {
    /* background-image: url('../Images/Main_Section_BG-min.png'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content #num {
    color: red;
}

#num {
    color: red;
}

.main-content p {
    font-size: 18px;
    margin-bottom: 30px;
}