* {
  margin: 0;
}


body {
  background-color: #6bade0;
}
/*  navbar */


#menu{
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  z-index: 100;
}

.menu-line1{
  width: 100%;
  height: 2px;
  background: #000000;
  transition: .6s;
}

.menu-line2{
  width: 80%;
  height: 2px;
  margin-top: .7rem;
  background: #000000;
  transition: .6s;
}

.rotate{
  transform: rotateZ(180deg)
}
.rotate1{
  background: #212121;
  transform: rotateZ(45deg);
}
.rotate2{
  background: #212121;
  width: 100%;
  transform:  translate(0,-0.8rem) rotateZ(-45deg);
}
.nav-page1{
  position: fixed ;
  top:0 ;
  left: 0;
  background: whitesmoke;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  transform: translate(0,-100%);
  transition: .5s;
}
.nav-page1 span{
  padding: 1rem;
}


.transform{
  transform: translate(0,0);
}



/* slide animation */


.slide-right {
  animation: slideRight 0.5s ease forwards;
  transform: translateX(100%);
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide in from the left animation */
.slide-left {
  animation: slideLeft 0.5s ease forwards;
  transform: translateX(-100%);
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#fade-in {
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}