body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preloader {
  width: 100px;
  height: 100px;
  background-image: url('https://shop.mancity.com/dw/image/v2/BDWJ_PRD/on/demandware.static/-/Sites-master-catalog-MAN/default/dw6a5336a0/images/large/701223769001_pp_01_mcfc.png?sw=1600&sh=1600&sm=fit');
  background-size: cover;
  animation: rotate 5s linear infinite;
}

.ball {
  width: 100%;
  height: 100%;
}

.content {
  display: none;
  /* Add styles for your content area here */
}

.hidden {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide the preloader and reveal the content */
@keyframes hidePreloader {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Apply the hidePreloader animation after 5 seconds */
.preloader.active {
  animation: hidePreloader 1s linear forwards;
}
